apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-service
  namespace: video-processing
spec:
  type: ClusterIP
  selector:
    app: rabbitmq
  ports:
  - name: amqp
    port: 5672
    targetPort: 5672

---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-management-console
  namespace: video-processing
spec:
  type: NodePort
  selector:
    app: rabbitmq
  ports:
  - name: management
    port: 15672
    targetPort: 15672
    nodePort: 30002