apiVersion: v1
kind: Service
metadata:
  name: producer-service
  namespace: video-processing
spec:
  type: NodePort
  selector:
    app: producer
  ports:
  - name: http
    port: 4000
    targetPort: 4000
    nodePort: 30000  # For NodePort access